.btn-completed {
  outline: none;
  background: rgb(11, 212, 162);
}

.btn-completed:hover {
  background-color: #528047;
}
.btn-trash {
  outline: none;
}
.btn-trash:hover {
  background-color: #d9042b;
}
