@use "src/assets/stylesheets/colors" as *;

.todo{
  margin: 8px;
  background: white;
  font-size: 24px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  display: flex;
  width:calc(100% - 16px);
}
.todo li{
    flex:1;
}
.todo-item{
    padding:0px 8px;
}
.completed{
    text-decoration: line-through;
    opacity:0.5;
}
button{
  background:$primary-color;
  color: white;
  border: none;
  padding: 16px; 
  cursor: pointer;
  font-size: 16px;

}
.actions{
  min-width: 124px;
  max-width: 124px;
  display: flex;
}
span{
  width: 50%;
}

@media only screen and (max-width:600px){
  .actions{
    align-items: flex-end;
  }
  .todo-item{
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
